body {
  font-family: 'Arial', sans-serif;
  background-color: #aeaeaeae;
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 0;
  margin: 0;
}

h1 {
  color: #333;
}

#countries-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

#countries-list li{
  width: 125px;
  height: 125px; 
  word-wrap: break-word; 
  background-color: #f0f0f0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-weight: bolder;
}

#countries-list img {
  width: 110px;
}

img[alt="Nepal Flag"], img[alt="Switzerland Flag"], img[alt="Vatican City Flag"], img[alt="Belgium Flag"] {
  max-height: 85px;
}

.animacion {
  transform: scale(2.5, 2);
  transition: transform 0.5s ease;
  transform-style: flat; 
  
}

.animacion > * {
  transform: scale(1); 
  transform-origin: center; 
}

#countries-list .animacion ul{
  transform: scale(0.5)
}
#countries-list .animacion boton {
  transform: scale(0.5)
}

#countries-list .animacion .bandera {
  transform: scale(0.5)
}