body {
  font-family: 'Arial', sans-serif;
  background-color: #aeaeaeae;
  margin: 0;
  padding: 0;
  list-style: none;
}

h1 {
  color: #333;
}

#countries-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

#countries-list li{
  width: 125px;
  height: 125px; 
  word-wrap: break-word; 
  background-color: #f0f0f0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-weight: bolder;
}

#countries-list img {
  width: 110px;
}

img[alt="Nepal Flag"], img[alt="Switzerland Flag"], img[alt="Vatican City Flag"], img[alt="Belgium Flag"] {
  max-height: 85px;
}

.ventana {
  display: none;
  position: fixed;
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 15px;
  z-index: 1000;
  width: 30%;
  height: 30%;
  box-sizing: border-box;
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
}

.div-cansado {
  display: flex;
  justify-content: space-around;
}

.ventana img {
  width: 150px;
}
.ventana ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 5px;
}

.botonEliminar {
  width: 100px;
  margin-left: 24px;
  cursor: pointer;
}

.ventana ul li:first-child{
  font-weight: bolder;
  font-size:x-large;
}